#home-body{
    background-image: url(/src/img/bb-wp3.jpg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 500px;
}

.container{
    min-height: 500px;

}

.btn{
    letter-spacing: 0.25rem;
}